@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
height: 85%;
}
/* Optional: Makes the sample page fill the window. */

html, body {
height: 85%;
background-color: #00FF7F;
font-family: 'Open Sans', sans-serif;
}

div{
	color: black;
}

.w3-wide {
	color: black;
	border-style: solid;
	font-family: 'Open Sans', sans-serif;
	padding: 10px;
	display: inline-block;

}
.w3-opacity{
	color:black;
	text-decoration: underline;
}
