
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
height: 85%;
}
/* Optional: Makes the sample page fill the window. */

html,
body {
height: 85%;
background-color: #00FF7F;
}
